<script setup lang="ts">
import { reactive, computed } from "vue";
const state = reactive({
  num1: "0",
  num2: "0",
  result: 0,
});
const result = computed(function () {
  return parseInt(state.num1) + parseInt(state.num2);
});
function add() {
  state.result = parseInt(state.num1) + parseInt(state.num2);
}
</script>

<template>
  <div class="card">
    <div>
      <input type="text" ref="num1" v-model="state.num1" class="center_text" />
    </div>
    <div class="center_text bold_text">+</div>
    <div>
      <input type="text" ref="num2" v-model="state.num2" class="center_text" />
    </div>
    <div>
      <button class="center_text width100px" @click="add()">=</button>
    </div>
    <div ref="result" class="center_text">{{ state.result }}</div>
    <div>{{ state.num1 }} + {{ state.num2 }} = {{ result }}</div>
  </div>
</template>

<style>
.center_text {
  text-align: center;
  font-size: 20pt;
  margin: 5px;
}

.bold_text {
  font-weight: bold;
}

.card {
  border-style: solid;
  padding: 10px;
  width: 400px;
  text-align: center;
}

.width100px {
  width: 100px;
}
</style>
